build-MonteCarlo-Desktop_Qt_5_14_1_GCC_64bit-Debug/
build-MonteCarlo-Desktop_Qt_5_14_1_GCC_64bit-Release/
build-MonteCarlo-Android_for_armeabi_v7a_arm64_v8a_x86_x86_64_Clang_Qt_5_14_1_for_Android-Release/
